<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="K2SMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <K2SMS.Properties.Settings>
            <setting name="K2SMS_SendSMS_SendServiceNoHeader" serializeAs="String">
                <value>https://www.esendex.com/secure/messenger/soap/SendServiceNoHeader.asmx</value>
            </setting>
            <setting name="K2SMS_SMSAdmin_AccountServiceNoHeader" serializeAs="String">
                <value>https://www.esendex.com/secure/messenger/soap/AccountServiceNoHeader.asmx</value>
            </setting>
            <setting name="K2SMS_InboxSMS_InboxServiceNoHeader" serializeAs="String">
                <value>https://www.esendex.com/secure/messenger/soap/InboxServiceNoHeader.asmx</value>
            </setting>
        </K2SMS.Properties.Settings>
    </applicationSettings>
</configuration>